@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    outline: none;
}
img{
    height: 100%;
    width: 100%;
}